<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;
border-color:#660000;
border-style:solid;
color:#000000;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#660000;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#00CCFF;
}
</style>

<!-- HTML Code -->
<h1> Search Results for: {{query_txt}} </h1>
<table border="1">
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Review</th>
        <th>Sentiment</th>
        <th>Website</th>
    </tr>

<br><br><br>


{% for result in results %}
    <tr>
        <td>{{search_res[result[0]].title}}</td>
        <td>{{search_res[result[0]].desc}}</td>
        <td>{{search_res[result[0]].review}}</td>
        <td>{{search_res[result[0]].sentiment}}</td>
        <td>{{search_res[result[0]].website}}</td>
        <td><a href="/rocchio/{{result[0]}}/{{search_res[result[0]].search_url}}" name="link" >Buy Now</a></td>
    </tr>
{% endfor %}

</table>

<center>
    <form action="{{url_for('index')}}"><input type="submit" name="submit" value="Back to Search"></form>
</center>